In [4]:
"""
many runs of simulation to collect stats
"""

import mygo as mg
import rastrigin_fction as rf
import numpy as np
import pandas as pd

In [5]:
def simulation(N=7, n_iter=500, p_cross=0.5, p_mut=0.8, mut_step=0.01):
    """

    :param N: how many elements are in a population (in each time)
    :param n_iter: number of iterations of GO
    :param p_cross:
    :param p_mut:
    :param mut_step:
    :return: value of minimum
    """
    # generating starting population
    popul = mg.generate_population(num_of_elements=N, length_of_element=2, population_type='float', min_value=-5,
                                   max_value=5)

    for j in range(n_iter):
        hypopul = mg.generate_hyperpopulation(popul, criteria_for_sorting=rf.rastrigin_taking_2d_list, num_of_iter=10,
                                              prob_crossover=p_cross, p_mut=p_mut, mutation_step=mut_step)
        trimedpopul = mg.trim_hyperpopulation(hypopul, num_of_elements=N)
        popul = trimedpopul

    return rf.rastrigin_taking_2d_list(popul[0])

In [6]:
if __name__ == '__main__':
    results = []
    for _ in range(100):
        results.append(simulation(N=7, n_iter=900))
    r = np.array(results)
    print(r)
    print(r.mean())

[0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879 0.00991879
 0.00991879 0.00991879 0.00991879 0.00991879]
0.009918792685368771

In [7]:
whos

Variable     Type        Data/Info
----------------------------------
mg           module      <module 'mygo' from 'C:\\<...>-pancake\\code\\mygo.py'>
np           module      <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd           module      <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
r            ndarray     100: 100 elems, type `float64`, 800 bytes
results      list        n=100
rf           module      <module 'rastrigin_fction<...>de\\rastrigin_fction.py'>
simulation   function    <function simulation at 0x0000022BBC0D0C20>

In [158]:
df = pd.DataFrame(columns = ['N', 'n_iter', 'p_mut', 'p_cross', 'mut_step', 'min'])

In [159]:
df.head()

Empty DataFrame
Columns: [N, n_iter, p_mut, p_cross, mut_step, min]
Index: []

In [160]:
N = 7
n_iter = 500
p_mut = 0.8
p_cross = 0.0
mut_step = 0.01

In [161]:
min = simulation(N, n_iter, p_cross, p_mut, mut_step)

In [162]:
for _ in range(1000):
    min = simulation(N, n_iter, p_cross, p_mut, mut_step)
    # Create a new row as a dictionary
    new_row = {'N': N, 'n_iter': n_iter, 'p_mut': p_mut, 'p_cross': p_cross, 'mut_step': mut_step, 'min': min}
    # Add the new row to the DataFrame
    df.loc[len(df)] = new_row

In [163]:
df

     N  n_iter  p_mut  p_cross  mut_step        min
0    7     500    0.8      0.0      0.01   0.009919
1    7     500    0.8      0.0      0.01   0.009919
2    7     500    0.8      0.0      0.01   0.009546
3    7     500    0.8      0.0      0.01   0.009919
4    7     500    0.8      0.0      0.01   0.009919
..  ..     ...    ...      ...       ...        ...
995  7     500    0.8      0.0      0.01   0.009919
996  7     500    0.8      0.0      0.01   0.983687
997  7     500    0.8      0.0      0.01  26.998677
998  7     500    0.8      0.0      0.01   0.009919
999  7     500    0.8      0.0      0.01   0.009919

[1000 rows x 6 columns]

In [164]:
df.describe()

            N  n_iter         p_mut  p_cross  mut_step          min
count  1000.0  1000.0  1.000000e+03   1000.0   1000.00  1000.000000
mean      7.0   500.0  8.000000e-01      0.0      0.01     1.221888
std       0.0     0.0  1.110779e-16      0.0      0.00     4.237270
min       7.0   500.0  8.000000e-01      0.0      0.01     0.005773
25%       7.0   500.0  8.000000e-01      0.0      0.01     0.009919
50%       7.0   500.0  8.000000e-01      0.0      0.01     0.009919
75%       7.0   500.0  8.000000e-01      0.0      0.01     0.010506
max       7.0   500.0  8.000000e-01      0.0      0.01    36.683016

In [165]:
str = df.describe().to_latex()
print(str)

\begin{tabular}{lrrrrrr}
\toprule
 & N & n_iter & p_mut & p_cross & mut_step & min \\
\midrule
count & 1000.000000 & 1000.000000 & 1000.000000 & 1000.000000 & 1000.000000 & 1000.000000 \\
mean & 7.000000 & 500.000000 & 0.800000 & 0.000000 & 0.010000 & 1.221888 \\
std & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 4.237270 \\
min & 7.000000 & 500.000000 & 0.800000 & 0.000000 & 0.010000 & 0.005773 \\
25% & 7.000000 & 500.000000 & 0.800000 & 0.000000 & 0.010000 & 0.009919 \\
50% & 7.000000 & 500.000000 & 0.800000 & 0.000000 & 0.010000 & 0.009919 \\
75% & 7.000000 & 500.000000 & 0.800000 & 0.000000 & 0.010000 & 0.010506 \\
max & 7.000000 & 500.000000 & 0.800000 & 0.000000 & 0.010000 & 36.683016 \\
\bottomrule
\end{tabular}

In [166]:
str2 = df.head(7).to_latex()
print(str2)

\begin{tabular}{lrrrrrr}
\toprule
 & N & n_iter & p_mut & p_cross & mut_step & min \\
\midrule
0 & 7 & 500 & 0.800000 & 0.000000 & 0.010000 & 0.009919 \\
1 & 7 & 500 & 0.800000 & 0.000000 & 0.010000 & 0.009919 \\
2 & 7 & 500 & 0.800000 & 0.000000 & 0.010000 & 0.009546 \\
3 & 7 & 500 & 0.800000 & 0.000000 & 0.010000 & 0.009919 \\
4 & 7 & 500 & 0.800000 & 0.000000 & 0.010000 & 0.009919 \\
5 & 7 & 500 & 0.800000 & 0.000000 & 0.010000 & 0.009919 \\
6 & 7 & 500 & 0.800000 & 0.000000 & 0.010000 & 0.009919 \\
\bottomrule
\end{tabular}

In [100]:
del(df)

In [42]:
df

NameError: name 'df' is not defined